<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>3d Game Engine</title>
		<link rel="stylesheet" href="/static/css/styles.css" />
	</head>
	<body>
		<canvas class="game_canvas"></canvas>
		<div class="container">
	    <!-- Sliders -->
	    <div class="slider-container">
	        <input type="range" min="0" max="100" value="50" class="slider" id="x_rot">
	    </div>
	    <div class="slider-container">
	        <input type="range" min="0" max="100" value="50" class="slider" id="y_rot">
	    </div>
	    <div class="slider-container">
	        <input type="range" min="0" max="10" value="50" class="slider" id="z_rot">
	    </div>
	
	    <!-- Dropdowns -->
	    <div class="dropdown-container">
	        <select class="dropdown" id="shape">
	            <option>Cube</option>
	            <option>Pyramid</option>
	        </select>
	    </div>
	    <div class="dropdown-container">
	        <select class="dropdown" id="projection">
	            <option>Perspective</option>
	            <option>Orthographic</option>
	        </select>
	    </div>
		</div>
		<script src="/static/js/preload.js"></script>
		<script src="/static/js/render.js"></script>
		<script src="/static/js/script.js"></script>
		<script src="/static/js/helper.js"></script>
	</body>
</html>