<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>3d Game Engine</title>
		<link rel="stylesheet" href="/static/css/styles.css" />
	</head>
	<body>
		<canvas class="game_canvas"></canvas>
		<input type="range" id="x_rot" value="0" min="0" max="10">
		<input type="range" id="y_rot" value="0" min="0" max="10">
		<input type="range" id="z_rot" value="0" min="0" max="10">
		<script src="/static/js/preload.js"></script>
		<script src="/static/js/render.js"></script>
		<script src="/static/js/script.js"></script>
		<script src="/static/js/helper.js"></script>
	</body>
</html>